.root div.list-container {
  order: 1;
  overflow-y: scroll;
}
@media screen and (min-width: 750px) {
  .root div.list-container {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    border: 1px solid;
  }
}