
.list-container{
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
box-sizing: border-box;
overflow: hidden;
border-radius: 2px;
order: 1;
flex-grow: 1;
}
.list__title{
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 0;
height: 20%;
  border-bottom: 1px solid rgb(182, 179, 179) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.list__title_flag {
  border: 1px solid #000000;
  max-width: 17%;
  max-height: 80%;
  margin-right: 10px;
  object-fit: cover;
}
.list__countries{
  width: 100%;
  margin: 0;
  height: 80%;
  overflow: hidden;
  padding: 0;
  overflow-y: scroll;
  }
@media screen and (min-width: 750px) {
  .root div.list-container {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    border: 1px solid;
    min-height: 335px;
  }
}