.root {
  margin-bottom: 130px;

  .root-items-container {
    display: flex;
    flex-direction: column;
  }

  .list-container {
    height: 20vh;
  }
  .map-container,
  .chart-container {
    height: 50vh;
  }
  .map-container,
  .list-container,
  .chart-container {
    margin: 10px;
    width: 95%;
    background-color: white;
  }
}

@media screen and (min-width: 750px) {
  .root {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    .root-items-container {
      width: 48%;
    }
  }
}
